<!DOCTYPE html>
<html>
	<head>
        <title>Device</title>

        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Link Theme files -->
        <link href="../../static/device/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- //Link Theme files -->

        <!-- js -->
        <script src="../../static/device/js/app.js"></script>
        <script src="../../static/device/js/data.js"></script>
        <!-- //js -->

        <!-- //favicon -->
        <link rel="shortcut icon" href="../../static/device/images/favicon.ico">
        <!-- //favicon -->
	</head>
	<body>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <sqan>
                <div class="sidebar-collapse">

                    <div style="width: 580px; height: 60px; background-color: rgba(255, 255, 255, 0);">
                        <nav class="componentstyle-schemeelementui-navmenu-light">
                            <div>
                                <a href="{{url_for('device.index') }}">设备概述</a>
                            </div>
                            <div>
                                <a href="javascript">数据传输<i class="fa fa-angle-down"></i></a>
                                <ul class="componentstyle-schemeelementui-navmenu-light-menu">
                                    <li><a href="javascript">上传数据</a></li>
                                    <li><a href="javascript">历史记录</a></li>
                                </ul>
                            </div>
                            <div>
                                <a href="javascript">配置管理</a>
                            </div>
                        </nav>
                    </div>

                    <div style="width: 129px; height: 32px; background-color: rgba(255, 255, 255, 0); position: absolute; top: 20px; left: 1650px;">
                        <div style="cursor: default; font-family: Arial; font-size: 16px; color: rgb(0, 0, 0); text-align: left; word-spacing: 2px; letter-spacing: 2px; line-height: 30px; background-color: rgba(255, 255, 255, 0); text-shadow: rgb(0, 0, 0) 0px 0px 0px;">hello, {{data.user_info.user_name}}</div>
                    </div>

                    <div style="width: 97px; height: 40px; background-color: rgba(255, 255, 255, 0); position: absolute; top: 10px; left: 1800px;">
                        <button class="componentstyle-schemeelementui-btn componentstyle-schemeelementui-btn-primary" style="width: 80px; height: 40px; border-radius: 4px; padding-left: 0px;"><a href={{ url_for(".logout") }}>退出登录</a></button>
                    </div>

                </div>
            </sqan>

            <span>
                <div>

                </div>
            </span>

        </nav>

        <script type="text/javascript">
            {% block content %}
            {% endblock %}
        </script> 

        {% block main %}{% endblock %}

        <div class="footer" align="center" style="position: absolute; top: 1000px; left: 800px;">
            <div>
                <strong>2023 TheDraco. All rights reserved. </strong>
            </div>
        </div>
	</body>
</html>
