{% extends "device/base.html" %}
{% block body %}

"body": 
[
    {
        "type": "grid",
        "columns": [],
        "id": "u:8398bb00f3f5"
    },
    {
        "type": "tabs",
        "tabs": 
        [
            {
                "title": "选项卡1",
                "body": 
                [
                    {
                        "type": "tpl",
                        "tpl": "内容1",
                        "inline": false,
                        "id": "u:99114c787ffb"
                    }
                ],
                "id": "u:740141ce188f"
            },
            {
                "title": "选项卡2",
                "body": [
                    {
                        "type": "tpl",
                        "tpl": "内容2",
                        "inline": false
                    }
                ]
            },
            {
                "title": "选项卡3",
                "body": [
                    {
                        "type": "tpl",
                        "tpl": "内容3",
                        "inline": false
                    }
                ]
            }
        ],
        "id": "u:845181328286"
    }
],
"id": "u:e87da5165839",


{% endblock body %}